.row{
    margin-bottom: 5px;
}

/* body{
    background-color: rgb(0, 250, 225);
} */

header{
    background-color: green;
    margin: 0px;
    /* border-radius: 50px; */
}

.card{
    /* background-color: lightgreen; */
    background-color: darkgreen;
    margin-bottom: 5px;
}

a{
    /* color: darkgreen; */
    color: lightgreen;
}

h1{
    color: white;
}


.card-body {
    color:white;
}
                
p{
    color:white;
}

.btn-success{
    background-color: grey;
}

a p{
    color: lightgreen;
}