{% extends 'base.html' %}

{% comment %} <!DOCTYPE html>
<html lang="en"> {% endcomment %}

{% comment %} {% load static%} {% endcomment %}

{% comment %} <head> {% endcomment %}
    {% comment %} <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <!-- Custom CSS -->
    {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}
{% block title%}
    <title>Autor - {{ author.name }} {{ author.surname }}</title>
{% endblock %}

{% comment %} </head> {% endcomment %}

{% comment %} <style>
    .card{
        margin-bottom: 5px;
    }

    .card-text{
        overflow-wrap: break-word;
    }
    
    

</style> {% endcomment %}

{% comment %} <body class="background">
    <div class="container"> {% endcomment %}
        {% block header%}
        <div class="row" >
            <div class="col-md-2">
                <a href="{% url 'authors' %}" class="btn btn-success" >Autoři </a>
            </div>
            <div class="col-md-8">
                <h1 class="text-center mt-5">{{ author.name }} {{ author.surname}}</h1>
            </div>
            <div class="col-md-2">
                <a href="{% url 'removeauthor' author.id %}" class="btn btn-danger"> Smazat </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2">
                <a href="{% url 'index' %}" class="btn btn-primary" >Index</a>
            </div>
        </div>
        {% endblock %}

        {% block main%}


        {% comment %} <h1 class="text-center mt-5">{{ author.name }} {{ author.surname}}</h1> {% endcomment %}
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Národnost: {{ author.nationality }}</p>
                        <p class="card-text">Datum narození: {{ author.date_of_birth }}</p>
                        <p class="card-text">Datum úmrtí: {{ author.date_of_death }}</p>
                        {% comment %} <p class="card-text">ISBN: {{ book.isbn }}</p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <h2 class="text-center mt-5">Knihy</h2>
        <div class="row mt-5">
            {% for book in books %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'book' book.id %}"> <h5 class="card-title">{{ book.name }}</h5> </a>
                        {% comment %} <p class="card-text">Author: {{ book.author }}</p> {% endcomment %}
                        <a href="{% url 'publisher' book.publisher.id %}"> <p class="card-text">Publisher: {{ book.publisher }}</p> </a>
                        <a href="{% url 'genre' book.genre.id %}"> <p class="card-text">Genre: {{ book.genre }}</p> </a>
                        {% comment %} <p class="card-text">ISBN: {{ book.isbn }}</p> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    {% comment %} </div> {% endcomment %}
    

    <!-- Bootstrap JS (optional) -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
{% comment %} </body> {% endcomment %}

{% comment %} </html> {% endcomment %}
