{%extends 'base.html' %}
{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {%block title%}
    <title>Kniha - {{ book.name }}</title>
    {%endblock%}
    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <!-- Custom CSS -->
    {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}

{% comment %} </head> {% endcomment %}



{% comment %} <body>
    <div class="container"> {% endcomment %}
        {%block header%}
        <div class="row mt-3">
            <div class="col-md-2">
                <a href="{% url 'books' %}" class="btn btn-success" >Knihy</a>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <a href="{% url 'removebook' book.id %}" class="btn btn-danger"> Smazat </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2">
                <a href="{% url 'index' %}" class="btn btn-primary" >Index</a>
            </div>
        </div>
        <h1 class="text-center mt-5">{{ book.name }}</h1>
        {%endblock%}
        {%block main%} 
        <div class="row mt-5">
            {% comment %} {% for book in books %} {% endcomment %}
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        {% comment %} <h5 class="card-title">{{ book.name }}</h5> {% endcomment %}
                        <a href="{% url 'author' book.author.id %}"> <p class="card-text">Author: {{ book.author }}</p> </a>
                        <a href="{% url 'publisher' book.publisher.id %}"> <p class="card-text">Publisher: {{ book.publisher }}</p> </a>
                        <a href="{% url 'genre' book.genre.id %}"> <p class="card-text">Genre: {{ book.genre }}</p> </a>
                        {% comment %} <p class="card-text">ISBN: {{ book.isbn }}</p> {% endcomment %}
                    </div>
                    </div>
                <div class="col-md-4"></div>
            </div>
            {% comment %} {% endfor %} {% endcomment %}
        </div>
        {%endblock%}
    {% comment %} </div> {% endcomment %}

    

    <!-- Bootstrap JS (optional) -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
{% comment %} </body> {% endcomment %}

{% comment %} </html> {% endcomment %}
