{%extends 'base.html'%}
{% comment %} <!DOCTYPE html> {% endcomment %}
{% comment %} <html lang="en"> {% endcomment %}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {% block title%}
    <title>Zákazníci</title>
    {%endblock%}
    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <!-- Custom CSS -->
    {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}

{% comment %} </head> {% endcomment %}



{% comment %} <body> {% endcomment %}
    {% comment %} <div class="container"> {% endcomment %}
        {%block header%}
        <div class="row mt-3">
            <div class="col-md-2">
                <a href="{% url 'index' %}" class="btn btn-primary">Index</a>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <a href="{% url 'customerform' %}" class="btn btn-primary">Přidat</a>
            </div>
        </div>
        <h1 class="text-center mt-5">Zákazníci</h1>
        {%endblock%}
        {%block main%}
        <div class="row mt-5">
            {% for customer in customers %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'customer' customer.id %}"> <h5 class="card-title">{{ customer.name }}  {{ customer.surname }}</h5> </a>
                        {% comment %} <p class="card-text">Email: {{ customer.email }}</p>
                        <p class="card-text">Tel: {{ customer.phone }}</p> {% endcomment %}
                        {% comment %} <p class="card-text">ISBN: {{ customer.isbn }}</p> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {%endblock%}
    {% comment %} </div> {% endcomment %}

    <!-- Bootstrap JS (optional) -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
    
{% comment %} </body> {% endcomment %}

{% comment %} </html> {% endcomment %}
