{%extends 'base.html' %}
{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {%block title%}
    <title>Zákazník - {{ customer.name }} {{ customer.surname }}</title>
    {%endblock%}
    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <!-- Custom CSS -->
    {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}

{% comment %} </head> {% endcomment %}



{% comment %} <body>
    <div class="container"> {% endcomment %}
        {%block header%}
        <div class="row mt-3">
            <div class="col-md-2">
                <a href="{% url 'customers' %}" class="btn btn-success" >Zákazníci</a>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <a href="{% url 'removecustomer' customer.id %}" class="btn btn-danger"> Smazat </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2">
                <a href="{% url 'index' %}" class="btn btn-primary" >Index</a>
            </div>
        </div>

        <h1 class="text-center mt-5">{{ customer.name }} {{ customer.surname }}</h1>
        {%endblock%}
        {%block main%}
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Email: {{ customer.email }}</p>
                        <p class="card-text">Tel: {{ customer.phone }}</p>
                        {% comment %} <p class="card-text">Datum úmrtí: {{ author.date_of_death }}</p> {% endcomment %}
                        {% comment %} <p class="card-text">ISBN: {{ book.isbn }}</p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <h2 class="text-center mt-5">Půjčky</h2>
        <div class="row mt-5">
            {% for borrow in borrows %}
            {% comment %} <div class="col-md-4"></div> {% endcomment %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'borrow' borrow.id %}"> <h5 class="card-title">{{ borrow.book.name }}</h5> </a>
                        {% comment %} <a href="{% url 'author' book.author.id %}"> <p class="card-text">Author: {{ book.author }}</p> </a>
                        <a href="{% url 'publisher' book.publisher.id %}"> <p class="card-text">Publisher: {{ book.publisher }}</p> </a>
                        <a href="{% url 'genre' book.genre.id %}"> <p class="card-text">Genre: {{ book.genre }}</p> </a> {% endcomment %}
                        {% comment %} <p class="card-text">ISBN: {{ book.isbn }}</p> {% endcomment %}
                    </div>
                    </div>
                {% comment %} <div class="col-md-4"></div> {% endcomment %}
            </div>
            {% endfor %}
        </div>
        {%endblock%}
    {% comment %} </div> {% endcomment %}

    

    <!-- Bootstrap JS (optional) -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
{% comment %} </body> {% endcomment %}

{% comment %} </html> {% endcomment %}
