{%extends 'base.html' %}
{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {%block title%}
    <title>IS Knihovny</title>
    {%endblock%}
    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <!-- Custom CSS -->
    {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
{% comment %} </head> {% endcomment %}

{% comment %} <body>
    <div class="container"> {% endcomment %}
        {%block header %}
        <h1 class="text-center mt-5">IS Knihovny</h1>
        {%endblock%}
        {%block main%}
        <div class="row justify-content-center mt-5">
            {% comment %} <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <p class="card-text">Login to access your account.</p>
                        <a href="{% url 'login' %}" class="btn btn-primary">Login</a> 
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Knihy</h5>
                        {% comment %} <p class="card-text">Browse our collection of books.</p> {% endcomment %}
                        <a href="{% url 'books' %}" class="btn btn-primary">Procházet knihy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Autoři</h5>
                        {% comment %} <p class="card-text">Explore our list of authors.</p> {% endcomment %}
                        <a href="{% url 'authors' %}" class="btn btn-primary">Procházet autory</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Zákazníci</h5>
                        {% comment %} <p class="card-text">Visit your user account.</p> {% endcomment %}
                        <a href="{% url 'customers' %}" class="btn btn-primary">Procházet zákazníky</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Půjčky</h5>
                        {% comment %} <p class="card-text">Visit your user account.</p> {% endcomment %}
                        <a href="{% url 'borrows' %}" class="btn btn-primary">Procházet půjčky</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Nakladatelství</h5>
                        {% comment %} <p class="card-text">Discover publishers in our database.</p> {% endcomment %}
                        <a href="{% url 'publishers' %}" class="btn btn-primary">Procházet nakladatelství</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title ">Žánry</h5>
                        {% comment %} <p class="card-text">Discover publishers in our database.</p> {% endcomment %}
                        <a href="{% url 'genres' %}" class="btn btn-primary">Procházet žánry</a>
                    </div>
                </div>
            </div>
        </div>       
        {%endblock%}
    {% comment %} </div> {% endcomment %}

    <!-- Bootstrap JS (optional) -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}

    

{% comment %} </body> {% endcomment %}

{% comment %} </html> {% endcomment %}
