{%extends 'base.html' %}
{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {%block title%}
    <title>Nakladatelství</title>
    {%endblock%}
    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <!-- Custom CSS -->
    {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}

{% comment %} </head> {% endcomment %}



{% comment %} <body>
    <div class="container"> {% endcomment %}
        {%block header%}
        <div class="row mt-3">
            <div class="col-md-2">
                <a href="{% url 'index' %}" class="btn btn-primary">Index</a>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <a href="{% url 'publisherform' %}" class="btn btn-primary">Přidat</a>
            </div>
        </div>
        <h1 class="text-center mt-5">Nakladatelství</h1>
        {%endblock%}
        {%block main%}
        <div class="row mt-5">
            {% for publisher in publishers %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'publisher' publisher.id %}"> <h5 class="card-title">{{ publisher.name }}</h5> </a>
                        {% comment %} <p class="card-text">Author: {{ publisher.author }}</p>
                        <p class="card-text">Publisher: {{ publisher.publisher }}</p>
                        <p class="card-text">Genre: {{ publisher.genre }}</p> {% endcomment %}
                        {% comment %} <p class="card-text">ISBN: {{ publisher.isbn }}</p> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {%endblock%}
    {% comment %} </div> {% endcomment %}

    
    <!-- Bootstrap JS (optional) -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
{% comment %} </body> {% endcomment %}

{% comment %} </html> {% endcomment %}
