{%extends 'base.html' %}
{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {%block title%}
    <title>Nakladatelství - {{ publisher.name }}</title>
    {%endblock%}
    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <!-- Custom CSS -->
    {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}

{% comment %} </head> {% endcomment %}



{% comment %} <body>
    <div class="container"> {% endcomment %}
        {%block header%}
        <div class="row mt-3">
            <div class="col-md-2">
                <a href="{% url 'publishers' %}" class="btn btn-success" >Nakladatelství</a>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <a href="{% url 'removepublisher' publisher.id %}" class="btn btn-danger"> Smazat </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2">
                <a href="{% url 'index' %}" class="btn btn-primary" >Index</a>
            </div>
        </div>

        <h1 class="text-center mt-5">{{ publisher.name }}</h1>
        {%endblock%}
        {% comment %} <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Národnost: {{ author.nationality }}</p>
                        <p class="card-text">Datum narození: {{ author.date_of_birth }}</p>
                        <p class="card-text">Datum úmrtí: {{ author.date_of_death }}</p>
                        <p class="card-text">ISBN: {{ book.isbn }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div> {% endcomment %}
            
        {%block main%}
        <h2 class="text-center mt-5">Knihy</h2>
        <div class="row mt-5">
            {% for book in books %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'book' book.id %}"> <h5 class="card-title">{{ book.name }}</h5> </a>
                        <a href="{% url 'author' book.author.id %}"> <p class="card-text">Autor: {{ book.author }}</p> </a>
                        {% comment %} <p class="card-text">Publisher: {{ book.publisher }}</p> {% endcomment %}
                        <a href="{% url 'genre' book.genre.id %}"> <p class="card-text">Žánr: {{ book.genre }}</p> <a/>
                        {% comment %} <p class="card-text">ISBN: {{ book.isbn }}</p> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {%endblock%}
    {% comment %} </div> {% endcomment %}
    

    <!-- Bootstrap JS (optional) -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
{% comment %} </body> {% endcomment %}

{% comment %} </html> {% endcomment %}
